* {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: #000;
}

.keys {
  width: 360px;
  margin: 10px auto;
  border-radius: 15px;
  height: fit-content;
  padding: 10px 0 0;
  border: 1px solid #fff;
}

.display {
  min-height: 100px;
  padding: 1.5rem;
  justify-content: flex-end;
  align-items: flex-end;
  color: #fff;
  text-align: right;
}

.output {
  padding-top: 15px;
  font-weight: 700;
  font-size: 25px;
}

.clipbord {
  border-radius: 15px;
  background: #8b878371;
}

.line1,
.line2,
.line3,
.line4,
.line5,
.line6,
.line7 {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.data-number {
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  outline: none;

}

.data-operation {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.del,
.ac {
  padding: 10px 20px;
  border-radius: 5px;
  background: #f48a14;
  border: none;
}

.nul {
  background: #f48a14;
  border: none;
  padding: 0 28px !important;
}

#data-equal {
  background: #f48a14;
  border: none;
  border-radius: 5px;
  padding: 0 50px;
}

.pi {
  padding: 0 30px !important;
}

button {
  background: #b3afaf;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .keys {
    width: 96vw;
    height: 95%;
    margin: 10px auto;
  }

  #data-equal {
    padding: 0 55px;
  }
}
